

<div id="demo" class="carousel slide carl" data-ride="carousel">

  <!-- Indicators -->
  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li>
  </ul>

  <!-- The slideshow -->
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img onclick="buscar('celulares')" src="img/phones.jpg" alt="Los Angeles">
    </div>
    <div class="carousel-item">
      <img onclick="buscar('television')" src="img/tv.jpg" alt="Chicago">
    </div>
    <div class="carousel-item">
      <img onclick="buscar('notebook')" src="img/notebooks.jpg" alt="New York">
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>

</div>

<div class="barra-navegacion">
        <div onclick="buscar('samsung')"><img src="img/samsung.jpg" ></div>
        <div onclick="buscar('iphone')"><img src="img/apple.jpg" ></div>
        <div onclick="buscar('huawei')"><img src="img/huawei.jpg" ></div>
        <div onclick="buscar('lg')"><img src="img/lg.jpg" ></div>
        <div onclick="buscar('motorola')"><img src="img/motorola.jpg" ></div>
</div>

<div class="contenido">
  <div class="autos">
      <h3> Autos</h3>
      <img src="img/autos.jpg" alt="">
  </div>
  <div class="electrodomesticos">
    <h3>Electrodomésticos</h3>
    <img src="img/electro.jpg" alt="">
  </div>
  <div class="salud">
    <h3>Salud y Belleza</h3>
    <img src="img/salud.jpg" alt="">
  </div>
  <div class="motos">
    <h3>Motos</h3>
    <img src="img/motos.jpg" alt="">
  </div>
</div>

<script src="js/home.js"></script>

