
 .carousel-item img {
    width: 900px;
    height: 500px;
    
}

.carousel-item,.carousel-inner{
    width: 900px;
    height: 500px;
}

.carl{
    width: 900px;
    height: 500px;
    margin: 50px 0px 50px 180px;
    box-shadow: 1px 3px 5px rgba(0,0,0, .5);
}


.barra-navegacion{
    width: 900px;
    height: 100px;
    margin: 50px 0px 0px 200px;
}
.barra-navegacion div{
    width: 150px;
    height: 70px;
    float: left;
    margin: 10px;
    border-radius: 25px;
    cursor: pointer;
}
.barra-navegacion img {
    width: 150px;
    height: 70px;
    border-radius: 25px;
    box-shadow: 1px 3px 5px rgba(0,0,0, .5);
}

.contenido div{
    margin: 20px;
    float: left;
    width: 600px;
    height: 300px;
    box-shadow: 1px 3px 5px rgba(0,0,0, .5);
}

.contenido img {
    height: 200px;
    margin: 30px 0px 0px 100px;
    cursor: pointer;
}

.contenido h3{
    font-weight: bold;
   margin: 0px 0px 0px 200px;
}
