.login-formulario {
    width: 600px;
    height: 400px;
    box-shadow: 1px 3px 5px rgba(0,0,0, .5);
    background-color: white;
    margin: 30px 0px 50px 350px;
}

.dd{
    margin: 0px 20px 0px 20px;
}

.label-login {
    margin: 20px 0px 0px 15px;
}


.button-login{
    margin: 20px 0px 0px 200px;
}

.h1-login{
    margin: 60px 0px 0px 0px;
}